@{
    ViewData["Title"] = "Home Page";
}


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('images/Main_Slider_1.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Պայմանները</h3>
              <p>Մեզ ստեղծված են բոլոր պայմանները որ դուք զգաք ձեզ ազատ և հարմարավետ</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('images/Main_Slider_2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Մասնագետներ</h3>
              <p>Մենք համագործակցում ենք շուկայի լավագույն մասնագետների հետ</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('images/Main_Slider_3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Ծառայություններ</h3>
              <p>Մեր ծառայությունները ստեղծված են բավարարելու անգամ ամենապահանջկոտ հաճախոդրի պահանջները</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Բարի գալուստ մեր կայք</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Անհատական կայքեր</h4>
            <div class="card-body">
              <p class="card-text">Ստացեք անհատական կայքեր բացարձակ անվճար Office 365 Business Premium փաթեթին մեկ տարով բաժանորդագրվելու դեպքում։</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Ամրագրման համակարգ</h4>
            <div class="card-body">
              <p class="card-text">Հնարավորություն տվեք ձեր հաճախորդներին առանց հերթերի օգտվել ձեր ծառայություններից։ Ազատվեք հերթերից, նյարդային իրավիճակներից։ Թույլ տվեք ձեր մասնագետներին ավելի լավ պատրաստվելու իրենց գործին։</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Պրեմիում սպասարկում</h4>
            <div class="card-body">
              <p class="card-text">Մենք լավագույնն ենք հասկանում ձեր խնդիրները և պարզ տեսնում ենք դրանց լուծումները։ Մեր մոտիվացիան է օգնել բարելավել ձեր բիզնեսը ավտոմոտացնելով ներքին համակարգերը։</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->
