@{
    ViewData["Title"] = "Contact";
}


<!-- Page Content -->
<div class="container">
    <br /><br />

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Գլխավոր</a>
        </li>
        <li class="breadcrumb-item active">Մասնագետներ</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

    <!-- Marketing Icons Section -->
    <!-- Three columns of text below the carousel -->
    <div class="container marketing">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Միքաել</h3>
            <h4>Քո վարսահարդարը</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof6.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Լիլի</h3>
            <h4>Քո մշտական հաճախորդը</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Թիմ</h3>
            <h4>Քո տնօրենը</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Ստիվ</h3>
            <h4>Քո նախկին տնօրենը</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof5.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Կրիստիանո</h3>
            <h4>Քո դիմահարդարը</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/Prof3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Ռոբերտ</h3>
            <h4>Ուղղակի մուժիկ</h4>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /.row -->
    </div>

</div>
<!-- /.container -->
